In [27]:
# -- Element Cleaning and CSV Export 

# Import dependencies 
import pandas as pd

# Load Coffin Data.xlsx from data folder

file_to_load = '../../data/Coffin_Data_Plot_Tests.xlsx'

xlsx = pd.ExcelFile(file_to_load)

# Load .xlsx into dataframe element_features

df = pd.read_excel(xlsx, 'XL3-87327-3-22')

df.head()

,Type,Duration,X,Y,Color,Unnamed: 5,SAMPLE,LOCATION,Ti,Ca/S,...,Cs,Cs Error,Te,Te Error,Re,Re Error,Ta,Ta Error,Hf,Hf Error
0,Mining,120.0,3.0,9.0,black,NaN,b24bk,NaN,142.62,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mining,120.0,8.5,18.0,black,NaN,C6bkmark,NaN,207.81,161.324175,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Mining,120.0,2.7,10.5,black,NaN,b12inscripmid,NaN,277.14,597.820785,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mining,120.0,4.7,8.8,black,NaN,b26bk,NaN,287.80,100.138626,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Mining,120.0,5.0,2.7,black,NaN,f15bk,NaN,342.39,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# Data Cleaning -- Drop Duplicate columns 

# Identify duplicate columns 
dup_columns = df.columns[df.columns.duplicated()]

df.drop(columns=dup_columns, inplace=True)

# Define the condition for column names to drop (ending with ".1")
condition = df.columns.str.endswith('.1')

# Drop the columns that match the condition
df = df.loc[:, ~condition]

# Drop unnamed column(s)

df.drop(df.columns[5], axis=1, inplace=True)

# Drop columns by name -- Removing these columns in particular which hold excel column formulas. 

df.drop(columns=['Ca/S', 'Cu/As', 'LOCATION'], inplace=True)


print(df.head())

     Type  Duration    X     Y  Color         SAMPLE      Ti      Pb     Zn  \
0  Mining     120.0  3.0   9.0  black          b24bk  142.62   < LOD  < LOD
1  Mining     120.0  8.5  18.0  black       C6bkmark  207.81   17.18  < LOD
2  Mining     120.0  2.7  10.5  black  b12inscripmid  277.14   < LOD  < LOD
3  Mining     120.0  4.7   8.8  black          b26bk  287.80    9.72  19.35
4  Mining     120.0  5.0   2.7  black          f15bk  342.39  933.07  < LOD

      Ba  ...  Cs Cs Error  Te Te Error  Re Re Error  Ta Ta Error  Hf Hf Error
0  < LOD  ... NaN      NaN NaN      NaN NaN      NaN NaN      NaN NaN      NaN
1  < LOD  ... NaN      NaN NaN      NaN NaN      NaN NaN      NaN NaN      NaN
2  158.7  ... NaN      NaN NaN      NaN NaN      NaN NaN      NaN NaN      NaN
3  < LOD  ... NaN      NaN NaN      NaN NaN      NaN NaN      NaN NaN      NaN
4  < LOD  ... NaN      NaN NaN      NaN NaN      NaN NaN      NaN NaN      NaN

[5 rows x 96 columns]

In [29]:
# Reorder range of element column names in A-Z order

columns_to_sort = df.columns[6:]

# Sort the selected columns in alphabetical order
columns_sorted = sorted(columns_to_sort)

df = df[df.columns[:6].tolist() + columns_sorted]

#print(df.head())

column_names = df.columns.tolist()

for column_name in df.columns: 
    print(column_name)

Type
Duration
X
Y
Color
SAMPLE
Ag
Ag Error
Al
Al Error
As
As Error
Au
Au Error
Ba
Ba Error
Bal
Bal Error
Bi
Bi Error
Br
Br Error
Ca
Ca Error
Cd
Cd Error
Cl
Cl Error
Co
Co Error
Cr
Cr Error
Cs
Cs Error
Cu
Cu Error
Fe
Fe Error
Hf
Hf Error
Hg
Hg Error
K
K Error
Mg
Mg Error
Mn
Mn Error
Mo
Mo Error
Nb
Nb Error
Ni
Ni Error
P
P Error
Pb
Pb Error
Pd
Pd Error
Rb
Rb Error
Re
Re Error
S
S Error
Sb
Sb Error
Sc
Sc Error
Se
Se Error
Si
Si Error
Sn
Sn Error
Sr
Sr Error
Ta
Ta Error
Te
Te Error
Th
Th Error
Ti
Ti Error
U
U Error
V
V Error
W
W Error
Zn
Zn Error
Zr
Zr Error

In [ ]:
column_names = df.columns.tolist()

for column_name in df.columns: 
    print(column_name)